@import 'https://use.typekit.net/lqi2uxs.css';
@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');
@import url("https://use.typekit.net/efs6fhm.css");

html,
body,
* {
  padding: 0 !important;
  margin: 0 !important;
  font-family: "proxima-nova",sans-serif;

  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: 0.5s background-color, color ease-in-out;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}
